*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    gap: 20px;;
}
#text-area{
    width: 230px;
    height: 10px;
    border: 2px solid black;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    resize: none;
}
.container2{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    gap: 10px;

}
#passGenerate{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}


.range{
    width: 100%;
}
.pass-length{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.active{
    display: none;
}

.data_copyMsg {
    display: none;        /* hidden by default */
    color: green;         /* optional styling */
    font-size: 14px;
    margin-left: 8px;
}

.data_copyMsg.active {
    display: inline;      /* visible only when .active is added */
}

